[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
pylint = "*"

[packages]
djangorestframework = "==3.9.1"
django-filter = "==2.1.0"
Django = "==2.2.3"
Markdown = "==3.0.1"
django-rest-auth = "==0.9.3"
django-allauth = "==0.38.0"
django-cors-headers = "==2.4.0"

[requires]
python_version = "3.7"

[scripts]
dev = "python manage.py runserver 127.0.0.1:8844"
make = "python manage.py makemigrations"
migrate = "python manage.py migrate"
superuser = "python manage.py createsuperuser"
createapi = "python manage.py startapp "
